.header {
  background-color: #B9975B;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titleText {
  color: #115740;
  font-weight: bold;
}