.background {
  background-color: #B9975B;
  min-height: 100vh;
  flex-direction: column;
  font-family: Palatino Linotype;
}

.titleText {
  color: #115740;
  font-size: 300%;
  font-weight: bolder;
}